{% extends 'base.html' %}
{% load static %}

{% block title %}
  Library
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "cart_wish_lib.css" %}>
  <link rel="stylesheet" href={% static "base.css" %}>
{% endblock %}

{% block content %}
  <div class="main-container">
    {% for book in books %}
      <div class="grey-line common">
          <a href="{% url "indiviudal-ebook" book.slug %}">
            <img src={{ book.image.url }} alt="image not found">
          </a>
          <section class="book-infomation">
            <h1>{{ book.title }}</h1>
            <form action="{% url "library" %}" method="post" id="#">
              {% csrf_token %}
              <button type="submit" name="slug" value={{ book.slug }}>Download</button>
            </form>          
          </section>
        </div>
    {% endfor %}
  </div>
{% endblock %}
