{% extends 'base.html' %}
{% load static %}

{% block title %}
  Profile
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "users/profile.css" %}>
  <link rel="stylesheet" href={% static "base.css" %}>
{% endblock %}

{% block content %}
  <div class="main-container">
    <form class="form-control" method="post" id="profile" action="{% url "profile" %}">
      {% csrf_token %}
      {{ form.errors }}
      {{ form.as_p }}
      <input id="update_button" type="submit" value="Update">
    </form>    
  </section>

{% endblock %}
