{% extends 'base.html' %}
{% load static %}

{% block title %}
  Purchase History
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "users/pruchase_history.css" %}>
  <link rel="stylesheet" href={% static "base.css" %}>
{% endblock %}

{% block content %}
  <div class="main-container">
    <table>
      <tr>
        <th>Book Title</th>
        <th>Price</th>
        <th>Date</th>
      </tr>
      {% for record in history %}
        <tr>
          <th>{{ record.0 }}</th>
          <th>{{ record.1 }}</th>
          <th>{{ record.2 }}</th>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
