{% extends "base.html" %}
{% load static %}

{% block title %}
  Sign Up
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "users/sign_up.css" %}>
  <link rel="stylesheet" href={% static "base.css" %}>
{% endblock %}

{% block content %}
	<form method="POST" action="{% url "sign-up" %}">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-control {% if field.errors %}invalid{% endif %}">
        {{ field.label_tag }}
        {{ field }}  
        {{ field.errors }}
    </div>   
    {% endfor %}
    <button type="submit">Submit</button>
	</form>
{% endblock %}