.main-container {
  margin: 5% 10% 1% 10%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.grey-line {
  border-bottom: grey;
  border-top: grey;
  border-left: transparent;
  border-right: transparent;
  border-style: solid;
  border-width: thin;
}

.grey-line:last-child {
  border-top: transparent;
}

