/* common layout for cart, wishlist, and library view */
img {
  height: 400px;
  width: 300px;
}

.book-infomation {
  border-color: grey;
  border-style: solid;
  border-width: thin;
  /* width: 15%;
  height: 50%; */
  width: 10rem;
  height: 10rem;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-top: 8%;
}

.book-infomation h1,
.book-infomation h2,
.book-infomation form {
  font-size: 1rem;
}

.common {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
  padding-top: 2%;
  /* align-items: center;
  justify-content: center; */
}

.common > a {
  text-decoration: none;
  margin-right: 2%;
}