* {
  box-sizing: border-box;
}

/* html {
    height: 100%;
} */

/* body {
  border-color: red;
  border-style: solid;
  height: 100%; 
} */

.main-container {
  margin: 10% 0% 0% 0%;
  border-color: red;
  border-style: solid;
  display: flex;
  flex-direction: column;
  position: relative;
}

.book-flex-container {
  border-color: blue;
  border-style: solid;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.price-details {
  border-color: aqua;
  border-style: solid;
  position: absolute;
  top: 0%;
  left: 80%;
  width: 20%;
  height: 40%;
}

.book-flex-container > section {
  display: flex;
  flex-direction: column;
}

.comments-rating-flex-container{
  border-color: purple;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

.left-container {
  border-color: blue;
  border-style: solid;
  display: flex;
  flex-direction: row;
  width: 80% 
}

.top-container{
  margin: 0% 0% 0% 0%;
  border-color: blue;
  border-style: solid;
  display: flex;
  flex-direction: row;
}

.bottom-container{
  margin: 0% 0% 0% 0%;
  border-color: green;
  border-style: solid;
}

.middle-container{
  margin: 0% 0% 0% 0%;
  border-color: purple;
  border-style: solid;
}

.buy {
  border-color: aqua;
  border-style: solid;
  flex-basis: 100px;
}

.book-details {
  border-color: yellow;
  border-style: solid;
  display: flex;
  flex-direction: row
}

.synopsis {
  border-color: orange;
  border-style: solid;
  display: flex;
  flex-direction: column
}

div span {
  color: #FFBA00 ;
}