{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
  <section>
    <img src={{ book.image.url }} alt="image not found">
    {{ book.title }}
    {{ book.synopsis }}
    {{ book.price }}

    <form action="{% url "cart" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="add_to_cart">Add to cart</button>
      <input type="hidden" name="slug" value={{ book.slug }}>
      <input type="hidden" name="book_id" value={{ book.id }}>
    </form>

    <form action="{% url "cart" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="buy_now">Buy Now</button>
      <input type="hidden" name="book_id" value={{ book.id }}>
    </form>

    <form action="{% url "wish-list" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="add_to_wishlist">Add to Wishlist</button>
      <input type="hidden" name="slug" value={{ book.slug }}>
    </form>
    
    {% if comment_rating_form %}
      {{ comment_rating_form }}
    {% endif %}

    <h5>Rating</h5>
    {{ rating_distribution }}
    {{ avg_rating }}

    <h5>Comment</h5>
    {% for user_comment_rating in users_comment_rating %}
      {% comment %} name comment rating {% endcomment %}
      <p>{{ user_comment_rating.0 }}</p>
      <p>{{ user_comment_rating.1 }}</p>
      <p>{{ user_comment_rating.2 }}</p>
    {% endfor %}

  </section>

{% endblock %}