{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ book.title }}
{% endblock %}

{% block css_files %}

{% endblock %}

{% block content %}
  <section>
    <img src={{ book.image.url }} alt="image not found">
    {{ book.title }}
    {{ book.synopsis }}
    {{ book.price }}

    <form action="{% url "cart" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="add_to_cart">Add to cart</button>
      <input type="hidden" name="slug" value={{ book.slug }}>
      <input type="hidden" name="book_id" value={{ book.id }}>
    </form>

    <form action="{% url "cart" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="buy_now">Buy Now</button>
      <input type="hidden" name="book_id" value={{ book.id }}>
    </form>

    <form action="{% url "wish-list" %}" method="post">
      {% csrf_token %}
      <button type="submit" name="add_to_wishlist">Add to Wishlist</button>
      <input type="hidden" name="slug" value={{ book.slug }}>
    </form>

    <h5>Comment</h5>
    {{ comment }}
    {{ rating }}
    {{ avg_rating }}
  </section>

{% endblock %}