{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ Cart }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href={% static "cart/cart.css" %}>
{% endblock %}

{% block content %}
  <section>
    {% for book in books %}
      <img src={{ book.image.url }} alt="image not found">
      {{ book.title }}
      {{ book.price }}
      <form action="{% url "cart" %}" method="post" id="checkout">
        {% csrf_token %}
        <button type="submit" name="delete" value={{ book.id }}>Delete</button>
      </form>
    {% endfor %}
    {{ total_price }}

    <form action="{% url "cart" %}" method="post" id="checkout">
      {% csrf_token %}
      <button type="submit" name="checkout" value="checkout">Check out</button>
    </form>

  </section>

{% endblock %}